{% extends 'lizasite/base.html' %}
{% load static %}

{% block content %}

<div class="content-container">
  <div class="about-par">
    <img class="headshot" src="{% static 'images/liza_img.jpg' %}"/>
    <p>I am a writer and reporter, currently working as a social media assistant at <em>The New Republic</em>. I recently graduated from Georgetown University, where I studied sociology and Spanish literature, and edited the Opinion section of the <em>Georgetown Voice</em>. I've previously written essays, book and exhibit reviews, reported features, and covered events with a quick turnover. I especially enjoy writing about the intersections of history, visual culture, and politics.</p>
    <p>I have professional experience in academic research, as well as social media strategy, editing, graphic design, and communications. In my free time, I love learning about art, cooking, watching Soviet comedies, and making greeting cards. </p>
  </div>
</div>
{% endblock %}
